/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI sans-serif';
}

/* CONTAINER */
.container {
    background-color: #21409A;
    width: 1080px;
    height: 110px;
    background-size: cover;
    padding: 0 20px;
}

/* Centralizar containers*/
.centraliza {
    display: flex;
    justify-content: center;
}

